<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-tree *ngFor="let element of table" [element]="element"></app-tree>
<!-- <div *ngFor="let element of table">
  <input type="checkbox" value="element.value"><label (click)="toggle(element)">{{element.label}}</label>
  <div id="test" class="test">
    <div *ngFor="let child of element.children">
      <label><input type="checkbox" value="child.value">{{child.label}}</label>
    </div>
  </div>
</div> -->


<router-outlet></router-outlet>